[Unit]
Description=Auto-connect Network MIDI to MIDI interface

[Service]
Type=oneshot
ExecStart=/home/david/midi_piano_pi/scripts/midi-autoconnect.sh
